.signlang_working{
   display: flex;
   padding: 4rem 2rem;
}

.signlang_working-img{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
}

.signlang_working-img img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    /* box-shadow: 0 10px 30px rgba(0,0,0,0.1); Eliminado shadow si la imagen es transparente, opcional */
}

.signlang_working-content{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.signlang_working-content h1 { /* Posible titulo añadido */
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    color: var(--color-primary-dark);
    margin-bottom: 1rem;
}

.signlang_working-content p{
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.8;
    color: var(--color-text);
    margin-bottom: 2rem;
}


@media screen and (max-width: 950px) {
    .signlang_working{
        flex-direction: column;
        padding: 2rem;
    }

    .signlang_working-img{
       margin: 0 0 2rem 0;
    }
}
