.signlang_testimonials-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 4rem 2rem;
    background: var(--color-bg);
    max-width: 1200px; /* Limite de ancho */
    margin: 0 auto;    /* Centrado */
    width: 100%;
}

.signlang_testimonial-header h2{
   font-size: 38px;
   font-weight: 800;
   text-align: center;
   color: var(--color-primary-dark);
   font-family: var(--font-family);
}

.signlang_card-container{
    display: flex;
    justify-content: center;
    align-items: stretch; /* Para que todas tengan la misma altura */
    flex-wrap: wrap;
    width: 100%;
    margin-top: 4rem;
    gap: 2rem;
}

@media screen and (max-width: 550px) {
    .signlang_testimonial-header h2{
        font-size: 28px;
    }
}
