@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #FF8C42 1.84%, #FF6B35 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #FF8C42 -13.86%, #FF6B35 99.55%);
  
  --color-bg: #FFFFFF;
  --color-footer : #F5F5F5;
  --color-blog: #FFF8F0;
  --color-text: #333333;
  --color-subtext: #FF8C42;
}
